@import "../../global.scss";

.projects{
    height: calc(100vh - 100px);
    width: 100%;
    background-color: $DarkBackgroundColor1;
    color: $LightTextColor1;
    font-size: 25;
    justify-content: center;
    align-items: center;

    @include mobile{
        height: calc(400vh - 100px);
    }

    .wrapper{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex: 2;
        justify-content: center;
        align-items: center;

        .personal{
            display: flex;
            flex: 2;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 600px;

            .sectionTitle{
                
                @include mobile{
                    height: 30px;
                    font-size: 60%;
                    padding-bottom: 10px;
                    padding-top: 5px;
                }
            }
            
            .projectCards{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                @include mobile{
                    flex-direction: column;
                }
                

                .project{
                    display: flex;
                    flex-direction: column;
                    width: 200px;
                    height: 400px;
                    padding: 10px 10px 10px 10px;
                    justify-content: center;
                    
                    @include mobile{
                        width: 100%;
                        padding: 0px 0px 0px 0px;
                    }
        
    
                    .projectWrapper{
                        padding: 10px 10px 10px 10px;
                        background-color: $DarkBackgroundColor2;
                        width: 90%;
                        height: 90%;
                        
    
                        &:hover{
                            transform: scale(1.05);
                        }
    
                        .title{
                            font-size: 80%;
                            

                        }
                        .imgContainer{
                            width: undefined;
                            height: 100px;
                            img{
                                height: 90%;
                                width: undefined;
                            }
            
                        }
                        .description{
            
                        }
                    }
    
                    
                }
            }
            
        }

        .clubs{
            display: flex;
            flex: 2;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 600px;
            width: 100%;
            
            .projectCards{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                .project{
                    display: flex;
                    flex-direction: column;
                    width: 200px;
                    height: 400px;
                    padding: 10px 10px 10px 10px;
                    
    
                    .projectWrapper{
                        padding: 10px 10px 10px 10px;
                        background-color: $DarkBackgroundColor2;
                        height: 90%;
    
                        &:hover{
                            transform: scale(1.05);
                        }
    
                        .title{
                            font-size: 80%;
                        }
                        .imgContainer{
                            width: 100px;
                            height: 100px;
                            img{
                                height: 90%;
                                width: 100%;
                            }
            
                        }
                        .description{
            
                        }
                    }
    
                    
                }
            }
            
        }
    }
}

