@import "../../global.scss";

.popup-content{
    background-color: rgb(26, 26, 26) !important;
    padding: 0px !important;
    width: 60% !important;
    border: 2px solid $DarkBackgroundColor3 !important;

    @include mobile{
        width: 100vw !important;
    }

}

.popupproject{
    background-color: inherit;
    color: white;
    width: 100%;   
    font-size: 18px;  
    text-align: left;  
    padding: 0px;

    @include mobile{
        width: 100vw !important;
    }
    
}