$DarkBackgroundColor1: black;
$DarkBackgroundColor2: rgb(20, 20, 20);
$DarkBackgroundColor3: rgb(40, 40, 40);
$LightBackgroundColor1: rgb(136, 136, 136);
$LightBackgroundColor1: rgb(221, 221, 221);
$LightTextColor1: rgb(221, 221, 221);
$DarkTextColor1: rgb(20, 20, 20);

